[user]
    name  = Jeremy Greenwood
    email = jeremymgreenwood@gmail.com
[core]
	# Note: if notepad++ is in a different directory, either edit the path below or create a link at the specified directory
    editor = \"C:/Program Files (x86)/Notepad++/notepad++.exe\" -multiInst -notabbar -nosession -noPlugin
    autocrlf = true
[alias]
    a    = add
    ac	 = add ./*.c            # add all .c files in current directory and its subdirectories
    acpp = add ./*.cpp          # add all .cpp files in current directory and its subdirectories
    ah	 = add ./*.h            # add all .h files in current directory and its subdirectories
    au   = add -u
    br	 = branch
    bra  = branch -a
    co   = checkout
    cob  = checkout -b
    ci   = commit
    cim  = commit -m
    ciam = commit -am
    fa   = fetch -a
    plo  = pull origin
    plom = pull origin master
    pso  = push origin
    psom = push origin master
    rb   = rebase
    rbi  = rebase -i
    rcim = commit --amend -m    # overwrite last commit message (recommit)
    rh   = reset --hard
    ri   = reset --merge        # reset index
    ri2w = reset --mixed        # reset index to working tree
    rw   = checkout .           # reset working tree (perform from top of tree)
    rgreen = ri                 # reset alias, consistent with git bash coloring scheme
    rgreen2red = ri2w           # reset alias, consistent with git bash coloring scheme
    rred = rw                   # reset alias, consistent with git bash coloring scheme
    st   = status
    su   = submodule update
    suir = submodule update --init --recursive
    updt = !git checkout master && git fetch origin && git rebase origin/master && git submodule update --init --recursive
[color]
    status = auto
    branch = auto
    diff   = auto
    ui     = auto